*{
    position: relative;
    margin: 0;
    padding: 0;
}
html,body{
    width: 100vw;
    height:100vh;
}
.container{
    background-color: black;
    text-align: center;
}
#carousel{
    width:80vw;
    height: 40vw;
    text-align: center;
    margin: 0 auto;
}
#carousel-img{
    width: 40vw;
    height: 40vw;
    right: 0vw;
}
button{
    width: 50px;
    bottom:50%;
    font-size: 25px;
    background-color: white;
    border-radius: 20px;
}
#arr-left{
    right:10%;
}
#arr-right{
    left:10%;
}
@keyframes slide{
    0%{
        left: 6%;
    }
    100%{
        left: 0;
    }
}